[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
hyperopt = "*"
fbprophet = "*"

[packages]
pandas = "==1.1.5"
matplotlib = "*"
requests = "==2.22.0"
ccxt = "*"
tensorflow = "==2.3.1"
scikit-learn = "*"
python-telegram-bot = "==11.1.0"
TA-Lib = "==0.4.17"
Quandl = "*"
pandas-datareader = "*"
flatlib = "*"
pyswisseph = "==2.00.00-2"
boto3 = "*"
flask = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
